/* https://coolors.co/palette/414833-656d4a-aab18d-c2c5aa-e5dbc4-b8a183-a68a64-997250-7f4f24
*/
.App {
    text-align: center;
    background-color: rgb(229, 219, 196);
    background-image: url("./pngfind.com-paw-prints-png-44414.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh; /* Updated */
    background-position: 100% 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    position: relative;
    font-family: "Palatino Linotype", serif;
    
  }
  body {
    margin: 0;
  }